# Ignore configuration .json files such as Compare-ARMRunSchedule.json so the local repo may be used "live"
*.json
# EXCEPT don't ignore this .json files as it is used to create an RBAC policy and should be tracked by git
!RBACPolicy.json
# Ignore the Logs folder so the local repo may be used "live"
Logs/
# Ignore the .vscode folder in-case there are Visual Studio Code preferences (such as debugging) that are unique to each user
.vscode/
